*{
    margin:0;
    padding:0;
    border:0;
}
.header-site{   
    position: absolute;    
    width: 100%;
    height: 120px;
    background-color: brown;    
    color: white;
}
.img-logo{
   
    width: 7%;
    margin: 10px 20px;
}
